@import './variables.scss';
@import './mixins.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $secondary;
  color: $white;

  .contentContainer {
    margin-left: 0.8rem;
  }
}

.dismissButton {
  z-index: 99;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

.videoPlayer {
  width: 100vw;
  height: 100vh;
}
